.app-container {
  width: 500px;
  height: 200px;
  margin: auto;
}
.user-container {
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
  background-color: aquamarine;
}
.description-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.age-date {
  text-align: center;
}
.description-row img {
  border-radius: 50%;
}
