.app-container {
  width: 500px;
  height: 200px;
  margin: auto;
}
.user-container {
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
  background-color: aquamarine;
}
.description-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.age-date {
  text-align: center;
}
.description-row img {
  border-radius: 50%;
}
button {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  margin-left: auto;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
}
button:hover {
  background-color: lightgray;
  transform: scale(1.1);
}
